@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 5px;
    background: linear-gradient(135deg, #2e2e2e, #4f4f4f); /* Dégradé gris foncé à gris clair */
    background-size: cover;
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 20px 35px;
    border-radius: 20px;
    margin-left: 150px;
    background: #f0f0f0; /* Fond gris clair moderne */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ombre subtile */
}

.container .title {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    color: #333; /* Gris foncé pour le titre */
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background-color: #333; /* Accent gris foncé */
}

.container form .input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .input .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.ve, p {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333; /* Texte gris foncé */
}

input[type="text"], select {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #333; /* Bordure gris foncé */
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent;
}

input[type="submit"] {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    background-color: #333; /* Fond gris foncé */
    color: white;
}

.div-predict {
    position: absolute;
    top: 370px;
    right: 300px;
    display: flex;
    gap: 20px;
    text-align: center;
}

#res {
    color: #e63946; /* Rouge vif pour le prix */
}

input[type="submit"]:hover {
    background-color: #555; /* Gris plus clair au survol */
}

.btn {
    position: absolute;
    top: 50px;
    right: 70px;
    display: flex;
    gap: 20px;
}

button {
    padding: 20px;
    border: 3px solid #333; /* Bordure gris foncé */
    border-radius: 10px;
    font-weight: 600;
    background-color: #333; /* Fond gris foncé */
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555; /* Gris plus clair au survol */
}

p {
    font-size: 30px;
    background: linear-gradient(135deg, #333, #555); /* Dégradé gris pour le texte */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #333;
    border-radius: 8px;
    padding: 20px;
    color: #f0f0f0; /* Texte en gris clair */
}
