body {
    height: 100vh;
    text-align: center;
    padding: 5px;
    background: linear-gradient(90deg, #2e2e2e, #4f4f4f); /* Dégradé gris foncé à gris clair */
}

h1 {
    margin-top: 80px;
    color: #ffffff; /* Texte en blanc pour le titre */
}

h2 {
    margin-top: 40px;
    font-weight: normal;
    color: #ffffff; /* Texte en blanc pour les sous-titres */
}

label {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: normal;
    color: black; /* Texte en blanc pour le label */
}

#c-form {
    width: 50%; /* Largeur du formulaire ajustée */
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(135deg, #dadada, #cfcfcf); /* Dégradé gris clair sur le formulaire */
}

#main-form {
    display: block;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 180px;
}

.laptop {
    width: 200px;
    text-align: center;
    background: linear-gradient(135deg, #dadada, #cfcfcf);; /* Dégradé gris sur les cartes de laptops */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #555555; /* Bordure gris moyen */
    border-radius: 8px;
    padding: 20px;
}

.laptop img {
    width: 200px;
    height: 140px;
    border-radius: 8px;
    border: 1px solid #2e2e2e;
}

.laptop h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #2e2e2e; 
}

.laptop p {
    color: #444444; 
    font-size: 20px;
    font-weight: 600;
}

.laptop a {
    color: #ffffff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #444444; /* Lien gris foncé */
}

a:hover {
    background-color: #555555; /* Changement de couleur au survol */
}

input[type="text"] {
    width: 200px;
    height: 30px;
    border: 2px solid #444444; /* Bordure gris foncé autour du champ de saisie */
    border-radius: 10px;
    margin: 10px;
    padding: 12px 20px;
    font-size: 17px;
    background-color: transparent;
    color: #ffffff; /* Texte en blanc dans le champ de saisie */
}

button {
    padding: 10px;
    width: 140px;
    border: 2px solid #555555; /* Bordure gris moyen pour le bouton */
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    background-color: #444444; /* Fond gris foncé pour le bouton */
    color: white; /* Texte du bouton en blanc */
}

button:hover {
    background-color: #555555; /* Fond gris plus clair au survol */
}

.btn {
    position: absolute;
    top: 50px;
    right: 70px;
    display: flex;
    gap: 20px;
}

.btns {
    padding: 20px;
    border: 2px solid #555555; /* Bordure gris moyen pour les boutons */
    border-radius: 10px;
    font-weight: 600;
    background-color: #444444; /* Fond gris foncé pour les boutons */
    color: white; /* Texte des boutons en blanc */
}

.btns:hover {
    background-color: #555555; /* Gris plus clair au survol des boutons */
}
