* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

.overplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    z-index: 1; 
}

h1{
    font-size: 70px;
}

.btn form{
    display: inline-block;
    margin-top: 40px;
}
input[type=submit]{
    margin-left: 40px;
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 13px;
    background-color: transparent;
    color:darkorchid;
}

input[type=submit]:hover{
    background-color: aliceblue;
    color: black;
}